.about__paralax {
    background: url(../assets/img/me.jpg) center no-repeat;
    height: 300px;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 25px 0;
  }
  
  .about__box {
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .about__img {
    width: 30%;
    margin: 0 auto; }
  
  .about__description {
    width: 50%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 40px;
    background-color: #5a5867;
    text-align: center; }
  