.logo {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #c8bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent; }
    .logo:hover {
      border: 3px solid #ffae82; }
  
  .logo__link {
    font-size: 16px;
    font-family: "Poppins", "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px  #000; }
  